<div class="auth-container">
  <h4 class="form-title">{{'FORM_TITLES.FORGOT_PASSWORD' | translate}}</h4>
  <form
    (ngSubmit)="sendMail()"
    [formGroup]="forgotPasswordForm"
    #form="ngForm">
    <div class="editor-label m-0">{{'FORM_INPUTS.EMAIL' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             email
             type="email"
             formControlName="email"
             autocomplete="chrome-off"
             placeholder="{{'FORM_INPUTS.EMAIL' | translate}}">
      <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('required') &&
                  (forgotPasswordForm.controls['email'].touched || form.submitted)">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
      <mat-error *ngIf="forgotPasswordForm.controls['email'].hasError('email')
                  && (forgotPasswordForm.controls['email'].touched || form.submitted)">
        {{'FORM_ERRORS.EMAIL_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-15">
      <button
        class="green-button"
        type="submit"
        mat-button>
        <mat-icon>done</mat-icon>
        <span>
          {{'ACTIONS.SEND' | translate}}
      </span>
      </button>
    </div>
  </form>
  <p class="form-bottom-text">
    <a routerLink="/auth/login">
      {{'COMMON.SIGN_IN' | translate}}
    </a>
  </p>
</div>
