<div style="height:100%;box-sizing:border-box;margin:0;padding:20px;">
    <div style="box-sizing:border-box;
                width: 500px;
                padding:25px;margin:auto;
                border-radius:10px;
                background: white">
        <h4 style="font-family:Roboto, 'Helvetica Neue', sans-serif;text-align:center;margin-top:0">
            Hi, {{name}}!
        </h4>
        <p style="font-family:Roboto, 'Helvetica Neue', sans-serif;text-align:center;">
            Click button below for reset password
        </p>
        <a href="{{url}}" target="_blank" style="display: block;margin:auto;">
            <button style="font-family:Roboto, 'Helvetica Neue', sans-serif;border:none;color:white;background-color:black;display:block;margin:0 auto;padding:5px 10px">
                Reset password
            </button>
        </a>
        <p style="font-family:Roboto, 'Helvetica Neue', sans-serif;text-align:center;font-size:10px;color:gray">
            If you didn't try to reset password in Tetramatyka website just ignore this message
        </p>
    </div>
</div>
