<div class="auth-container">
  <h4 class="form-title">{{'FORM_TITLES.REGISTER' | translate}}</h4>
  <form
    (ngSubmit)="registerUser()"
    [formGroup]="registerForm"
    #form="ngForm">
    <div class="editor-label m-0">{{'FORM_INPUTS.FIRST_NAME' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             placeholder="{{'FORM_INPUTS.FIRST_NAME' | translate}}"
             formControlName="firstName"
             autocomplete="chrome-off">
      <mat-icon matSuffix></mat-icon>
      <mat-error *ngIf="registerForm.controls['firstName'].hasError('required') &&
                  (registerForm.controls['firstName'].touched || form.submitted)">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
    </mat-form-field>
    <div class="editor-label m-0">{{'FORM_INPUTS.LAST_NAME' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             placeholder="{{'FORM_INPUTS.LAST_NAME' | translate}}"
             formControlName="lastName"
             autocomplete="chrome-off">
      <mat-icon matSuffix></mat-icon>
      <mat-error *ngIf="registerForm.controls['lastName'].hasError('required') &&
                  (registerForm.controls['lastName'].touched || form.submitted)">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
    </mat-form-field>
    <div class="editor-label m-0">{{'FORM_INPUTS.EMAIL' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             email
             type="email"
             formControlName="email"
             autocomplete="chrome-off"
             placeholder="{{'FORM_INPUTS.EMAIL' | translate}}">
      <mat-icon matSuffix></mat-icon>
      <mat-error *ngIf="registerForm.controls['email'].hasError('required') &&
                  (registerForm.controls['email'].touched || form.submitted)">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
      <mat-error *ngIf="registerForm.controls['email'].hasError('email')
                  && (registerForm.controls['email'].touched || form.submitted)">
        {{'FORM_ERRORS.EMAIL_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>
    <div class="editor-label m-0">{{'FORM_INPUTS.PASSWORD' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="password"
             autocomplete="chrome-off"
             placeholder="{{'FORM_INPUTS.PASSWORD' | translate}}">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="registerForm.controls['password'].hasError('required') &&
                  (registerForm.controls['password'].touched || form.submitted)">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
      <mat-error *ngIf="registerForm.controls['password'].hasError('pattern') &&
                  (registerForm.controls['password'].touched || form.submitted)">
        {{'FORM_ERRORS.PASSWORD_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>
    <div class="editor-label m-0">{{'FORM_INPUTS.CONFIRM_PASSWORD' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="confirmPassword"
             autocomplete="chrome-off"
             placeholder="{{'FORM_INPUTS.CONFIRM_PASSWORD' | translate}}">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required') &&
                  (registerForm.controls['confirmPassword'].touched || form.submitted)">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
      <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('pattern') &&
                  (registerForm.controls['confirmPassword'].touched || form.submitted)">
        {{'FORM_ERRORS.PASSWORD_INCORRECT' | translate}}
      </mat-error>
      <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('confirmPasswordValidator') &&
                  (registerForm.controls['confirmPassword'].touched || form.submitted)">
        {{'FORM_ERRORS.PASSWORD_NOT_SAME' | translate}}
      </mat-error>
    </mat-form-field>

    <div fxLayout="row" fxLayoutAlign="center center" class="mt-15">
      <button
        class="green-button"
        type="submit"
        mat-button>
        <mat-icon>done</mat-icon>
        <span>
          {{'ACTIONS.REGISTER' | translate}}
        </span>
      </button>
    </div>
    <p class="form-bottom-text">
      <a routerLink="/auth/login">
        {{'COMMON.SIGN_IN' | translate}}
      </a>
    </p>
    <p class="form-bottom-text">
      {{'COMMON.FORGOT_PASSWORD?' | translate}}
      {{'COMMON.CLICK' | translate}}
      <a routerLink="/auth/forgot-password">
        {{'COMMON.HERE' | translate}}
      </a>
    </p>
  </form>
</div>

