<div class="auth-container">
  <h4 class="form-title">Create password</h4>
  <form
    (ngSubmit)="register()"
    [formGroup]="registerForm"
    #form="ngForm">
    <div class="editor-label m-0">Email:</div>
    <mat-form-field floatLabel="never">
      <input matInput
             email
             type="email"
             formControlName="email"
             autocomplete="chrome-off"
             placeholder="email">
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>
    <div class="editor-label m-0">Password:</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="password"
             autocomplete="chrome-off"
             placeholder="password">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="registerForm.controls['password'].hasError('required') &&
                  registerForm.controls['password'].touched || form.submitted">
        This field is required
      </mat-error>
    </mat-form-field>
    <div class="editor-label m-0">Password:</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="confirmPassword"
             autocomplete="chrome-off"
             placeholder="password">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('required') &&
                  registerForm.controls['confirmPassword'].touched || form.submitted">
        This field is required
      </mat-error>
      <mat-error *ngIf="registerForm.controls['confirmPassword'].hasError('confirmPasswordValidator') &&
                  registerForm.controls['confirmPassword'].touched || form.submitted">
        Password is not the same
      </mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-15">
      <button
        class="green-button"
        type="submit"
        mat-button>
        <mat-icon>done</mat-icon>
        <span>
          {{'ACTIONS.SAVE' | translate}}
      </span>
      </button>
    </div>
  </form>
  <p class="form-bottom-text">
    Forgot password? Click
    <a routerLink="/auth/forgot-password">here</a>
  </p>
</div>
