<h2 mat-dialog-title class="border-bottom-grey">{{'COMMON.SELECT_EXISTING' | translate}}</h2>
<div mat-dialog-content>
  <mat-form-field class="w-100">
    <mat-label>{{'COMMON.TYPE_NAME' | translate}}</mat-label>
    <input matInput
           [formControl]="participantControl"
           [matAutocomplete]="auto">
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selectParticipant()">
      <mat-option *ngFor="let participant of filteredParticipants | async" [value]="participant">
        {{participant.fullName[lang]}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<div mat-dialog-actions class="border-top-grey">
  <div class="actions-row"
       fxLayout="row" fxLayoutAlign="flex-end center">
    <button
      class="red-button"
      type="button"
      mat-button
      mat-dialog-close>
      <mat-icon>close</mat-icon>
      <span>
          {{'ACTIONS.CANCEL' | translate}}
        </span>
    </button>
    <button
      class="green-button"
      (click)="saveSelectedParticipant()"
      mat-button>
      <mat-icon>done</mat-icon>
      <span>
          {{'ACTIONS.SAVE' | translate}}
        </span>
    </button>
  </div>
</div>
