@import 'variables';
@import 'mixin';

// TABLE
.mat-table {
  width: 100%;

  tr.mat-header-row {
    height: 25px;
  }

  th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    min-width: 110px;
    padding-right: 10px;
  }

  .mat-icon {
    color: $color-icon-grey;
    cursor: pointer;

    &.save-icon-button {
      color: $color-green;
    }

    &.cancel-icon-button, &.red-icon-button {
      color: $color-red;
    }
  }
}

// BUTTON
.mat-button {
  &.green-button {
    @include colorIconButton($color-green, $color-light-green);
  }

  &.orange-button {
    @include colorIconButton($color-orange, $color-light-orange);
  }

  &.red-button {
    @include colorIconButton($color-red, $color-light-red);
  }

  &.back-button {
    border-radius: 0;
    @include colorIconButton($color-white, $color-black);
  }
}

// action buttons
.mat-icon {
  &.action-button {
    color: $color-icon-grey;
    cursor: pointer;

    &.green {
      color: $color-green;
    }

    &.red {
      color: $color-red;
    }

    &.orange {
      color: $color-orange;
    }
  }
}

//TOASTER
.show-message {
  background-color: black;
}

.show-warning-message {
  background-color: $color-orange;
}

.show-error-message {
  background-color: $color-red;
}

.show-message, .show-warning-message, .show-error-message {
  color: white;
  button {
    color: white;
  }
}

// menu
.mat-menu-content {
  padding: 0 !important;

  .mat-menu-item {
    height: 35px;
    line-height: 35px;
    color: white;
    background-color: black;

    &:hover {
      color: black;
    }
  }
}

// form field
.mat-form-field {
  margin-bottom: 10px;

  &.wide-form-field {
    min-width: 400px;
  }
}

// dialog
.actions-row {
  width: 100%;
  padding: 10px 0;
}
