// width
.w-100 {
  width: 100%;
}

// padding
.p-25 {
  padding: 25px;
}

// margin
.m-0 {
  margin: 0 !important;
}

.mt-25 {
  margin-top: 25px;
}

.m-auto {
  margin: auto;
}

// text
.text-center {
  text-align: center;
}

.f-18 {
  font-size: 18px;
  line-height: 22px;
}
