<div class="page page-with-backdrop"
  (window:resize)="onResize()">
  <div class="archive-strings-container"
    fxLayout="row"
    fxLayoutAlign="space-between center">
    <ng-container *ngFor="let harpString of harpStrings; let i = index">
      <div fxLayout="row" fxLayoutAlign="center center"
           class="archive-string-block">
        <span class="archive-string"
              [@trembling]="harpString.trembling ? 'start' : 'stop'"
              (@trembling.done)="finishStringAnimation(harpString)"
              [style.background-color]="harpString.color"
              #harpStringsRef></span>
        <span class="top-point"
              [style.background-color]="harpString.color"
              (click)="preparePlayingSample(harpString, i)"></span>
        <span class="bottom-point"
              [style.background-color]="harpString.color"
              (click)="preparePlayingSample(harpString, i)"></span>
      </div>
    </ng-container>
  </div>
</div>
