<div class="auth-container">
  <h4 class="form-title">{{'FORM_TITLES.LOGIN' | translate}}</h4>
  <form
    (ngSubmit)="login()"
    [formGroup]="loginForm"
    #form="ngForm">
    <div class="editor-label m-0">{{'FORM_INPUTS.EMAIL' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             email
             type="email"
             formControlName="email"
             autocomplete="chrome-off"
             placeholder="{{'FORM_INPUTS.EMAIL' | translate}}">
      <mat-icon matSuffix></mat-icon>
      <mat-error class="email-required" *ngIf="loginForm.controls['email'].hasError('required') &&
                  loginForm.controls['email'].touched || form.submitted">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
      <mat-error class="email-incorrect" *ngIf="loginForm.controls['email'].hasError('email')
                  && loginForm.controls['email'].touched || form.submitted">
        {{'FORM_ERRORS.EMAIL_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>
    <div class="editor-label m-0">{{'FORM_INPUTS.PASSWORD' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="password"
             autocomplete="chrome-off"
             placeholder="{{'FORM_INPUTS.PASSWORD' | translate}}">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error class="password-required" *ngIf="loginForm.controls['password'].hasError('required') &&
                  (loginForm.controls['password'].touched || form.submitted)">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
      <mat-error class="password-incorrect" *ngIf="!loginForm.controls['password'].hasError('required')
                  && loginForm.controls['password'].hasError('pattern')
                  && (loginForm.controls['password'].touched || form.submitted)">
        {{'FORM_ERRORS.PASSWORD_INCORRECT' | translate}}
      </mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-15">
      <button
        class="green-button"
        type="submit"
        mat-button>
        <mat-icon>done</mat-icon>
        <span>
          {{'ACTIONS.LOGIN' | translate}}
        </span>
      </button>
    </div>
  </form>
  <p class="form-bottom-text">
    {{'COMMON.FORGOT_PASSWORD?' | translate}}
    {{'COMMON.CLICK' | translate}}
    <a routerLink="/auth/forgot-password" class="forgot-password-link">
      {{'COMMON.HERE' | translate}}
    </a>
  </p>
  <p class="form-bottom-text">
    {{'COMMON.OR' | translate}}
  </p>
  <mat-card (click)="loginWithGoogle()" class="google-button"
            fxLayout="row" fxLayoutAlign="space-between center">
    <img src="../../../assets/images/social/google_logo.png" alt="google logo"
         width="20" height="20">
    <span>
      {{'COMMON.SIGN_IN' | translate}}
      {{'COMMON.WITH' | translate}}
      Google
    </span>
  </mat-card>
</div>
