<footer fxLayout="row wrap" fxLayoutAlign="space-between center">
  <div class="social-links">
    <a href="">

    </a>
  </div>
  <div class="images-container" fxLayout="row wrap" fxLayoutAlign="flex-end center">
    <div [style.background-image]="'url(../../../assets/images/ucf_logo.png)'"
         class="partner-image"></div>
    <div [style.background-image]="'url(../../../assets/images/lviv_logo.png)'"
         class="partner-image"></div>
    <div [style.background-image]="'url(../../../assets/images/logo_lmr.png)'"
         class="partner-image"></div>
  </div>
</footer>
