<footer>
  <button
    class="orange-button"
    type="button"
    mat-button
    (click)="openAddPartnersDialog()">
    <mat-icon>add</mat-icon>
    <span>
      {{'ACTIONS.ADD' | translate}}
    </span>
  </button>
  <div class="images-container" fxLayout="row wrap" fxLayoutAlign="center center">
    <div *ngFor="let partner of partners" class="partner-wrapper">
      <div [style.background-image]="'url(' + partner.imageUrl + ')'"
           class="partner-image">
      </div>
      <button
        class="clear-button"
        mat-mini-fab
        type="button"
        color="warn"
        matTooltip="Remove partner"
        *userPermission="['ADMIN']"
        (click)="openDeletePartnerDialog(partner._id)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
</footer>
