@import 'variables';

footer {
  width: 100%;
  padding: 25px;
  background-color: $color-main-grey;
}

.images-container {
  .partner-image {
    width: 90px;
    height: 70px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0) invert(.15);
    margin: 0 5px;
  }
}
