@import 'variables';

footer {
  width: 100vw;
  padding: 25px;
  background-color: $color-main-grey;
}

.images-container {
  .partner-image {
    width: 80px;
    height: 55px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0) invert(.15);
  }
}
