<h2 mat-dialog-title>{{data.title | translate}}</h2>
<div mat-dialog-content>
  <form
    id="change-password-form"
    #form="ngForm"
    (ngSubmit)="submitChangePassword()"
    [formGroup]="changePasswordForm">
    <div class="editor-label m-0">{{'FORM_INPUTS.OLD_PASSWORD' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="oldPassword"
             autocomplete="chrome-off"
             placeholder="{{'FORM_INPUTS.OLD_PASSWORD' | translate}}">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="changePasswordForm.controls['oldPassword'].hasError('required') &&
                  changePasswordForm.controls['oldPassword'].touched || form.submitted">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
    </mat-form-field>
    <div class="editor-label m-0">{{'FORM_INPUTS.NEW_PASSWORD' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="newPassword"
             autocomplete="chrome-off"
             placeholder="{{'FORM_INPUTS.NEW_PASSWORD' | translate}}">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('required') &&
                  changePasswordForm.controls['newPassword'].touched || form.submitted">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
    </mat-form-field>
    <div class="editor-label m-0">{{'FORM_INPUTS.CONFIRM_PASSWORD' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="confirmPassword"
             autocomplete="chrome-off"
             placeholder="{{'FORM_INPUTS.CONFIRM_PASSWORD' | translate}}">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required') &&
                  changePasswordForm.controls['confirmPassword'].touched || form.submitted">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
      <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].hasError('confirmPasswordValidator') &&
                  changePasswordForm.controls['confirmPassword'].touched || form.submitted">
        {{'FORM_ERRORS.PASSWORD_NOT_SAME' | translate}}
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <div class="actions-row"
       fxLayout="row" fxLayoutAlign="flex-end center">
    <button mat-button mat-dialog-close type="button">{{'ACTIONS.CANCEL' | translate}}</button>
    <button mat-button type="submit" form="change-password-form">{{'ACTIONS.CHANGE' | translate}}</button>
  </div>
</div>
