<button
  mat-fab
  [matMenuTriggerFor]="profileMenu">
  <mat-icon>person</mat-icon>
</button>

<mat-menu #profileMenu="matMenu">
  <button mat-menu-item (click)="openChangeNameDialog()">
    <mat-icon>person</mat-icon>
    <span>{{'COMMON.CHANGE_NAME' | translate}}</span>
  </button>
  <button mat-menu-item (click)="openChangePasswordDialog()">
    <mat-icon>visibility_off</mat-icon>
    <span>{{'COMMON.CHANGE_PASSWORD' | translate}}</span>
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>{{'COMMON.LOGOUT' | translate}}</span>
  </button>
</mat-menu>
