<div class="page p-25">
  <div class="buttons-wrapper"
       *userPermission="['ADMIN']">
    <button
      routerLink="create"
      class="green-button"
      mat-button>
      <mat-icon>add</mat-icon>
      <span>
        {{'ACTIONS.ADD' | translate}}
      </span>
    </button>
  </div>

  <h2 class="page-title">{{'MENU.PROJECTS' | translate}}</h2>
  <div class="title-items-list">
    <ng-container *ngFor="let project of projects">
      <div
        [routerLink]="project._id"
        class="title-item">
        {{project.title[lang]}}
      </div>
    </ng-container>
  </div>

  <div *ngIf="projects.length === 0"
       class="will-be-soon-message">
    {{'COMMON.WILL_BE_AVAILABLE_SOON' | translate}}
  </div>
</div>
