<div class="page">
  <form
    #form="ngForm"
    [formGroup]="aboutForm"
    (ngSubmit)="saveAboutInfo()">
    <div class="buttons-wrapper" *userPermission="['ADMIN']">
      <ng-container *ngIf="editMode; else viewButtons">
        <button
          type="submit"
          class="green-button"
          mat-button>
          <mat-icon>done</mat-icon>
          <span>
          {{'ACTIONS.SAVE' | translate}}
        </span>
        </button>

        <button
          type="button"
          class="red-button"
          mat-button
          (click)="cancelEditing()">
          <mat-icon>close</mat-icon>
          <span>
        {{'ACTIONS.CANCEL' | translate}}
      </span>
        </button>
      </ng-container>
      <ng-template #viewButtons>
        <button
          class="orange-button"
          mat-button
          (click)="editAboutInfo()">
          <mat-icon>edit</mat-icon>
          <span>
        {{'ACTIONS.EDIT' | translate}}
      </span>
        </button>
      </ng-template>
    </div>
    <div fxLayout="column" fxLayoutAlign="flex-start center">
      <div *ngIf="editMode; else viewMode">
        <h2 class="page-title">{{'MENU.ABOUT' | translate}}</h2>
        <div class="quill-editor-wrapper">
          <div class="editor-label">Текст (UA):</div>
          <quill-editor
            formControlName="text_UA"
            [placeholder]="'Напишіть щось про фестиваль...'">
          </quill-editor>
          <mat-hint class="mat-error" *ngIf="aboutForm.controls['text_UA'].hasError('required') &&
                    (aboutForm.controls['text_UA'].touched || form.submitted)">
            Це поле обов'язкове
          </mat-hint>
        </div>
        <div class="quill-editor-wrapper">
          <div class="editor-label">Text (EN):</div>
          <quill-editor
            formControlName="text_EN"
            [placeholder]="'Type about the festival...'">
          </quill-editor>
          <mat-hint class="mat-error" *ngIf="aboutForm.controls['text_EN'].hasError('required') &&
                    (aboutForm.controls['text_UA'].touched || form.submitted)">
            This field is required
          </mat-hint>
        </div>

        <ng-container *ngIf="imageUrl; else uploadField">
          <div class="editor-label">Image: </div>
          <div class="edit-image-container">
            <button
              class="clear-button"
              type="button"
              mat-mini-fab
              color="warn"
              matTooltip="Clear image"
              (click)="openClearImageDialog()"
              *ngIf="imageUrl">
              <mat-icon>clear</mat-icon>
            </button>
            <img [src]="imageUrl" alt="TETRAMATYKA Тетраматика" *ngIf="imageUrl" width="500">
          </div>
        </ng-container>
        <ng-template #uploadField>
          <div class="editor-label">Upload image: </div>
          <app-drag-n-drop-upload
            [acceptMimetype]="'image/*'"
            [multiple]="false"
            (fileUploaded)="changeImage($event)"
          ></app-drag-n-drop-upload>
        </ng-template>
      </div>
      <ng-template #viewMode>
        <ng-container *ngIf="aboutInfo; else willBeSoon">
          <img
            src="../../../assets/images/poster-tetramatyka.jpg"
            alt="No image"
            class="about-view-image">
          <img
            src="../../../assets/images/poster-tetramatyka-mobile.jpg"
            alt="No image"
            class="about-view-image-mobile">
          <div class="view-text-container">
            <h2 class="page-title">{{'MENU.ABOUT' | translate}}</h2>
            <div [innerHTML]="aboutInfo.text[lang]"
                 class="about-view-text f-18">
            </div>
          </div>
        </ng-container>

        <ng-template #willBeSoon>
          <h2 class="page-title">{{'MENU.ABOUT' | translate}}</h2>
          <div class="will-be-soon-message">
            {{'COMMON.WILL_BE_AVAILABLE_SOON' | translate}}
          </div>
        </ng-template>
      </ng-template>
    </div>
  </form>
</div>
