@import 'variables';

.buttons-wrapper {
  margin: 25px 0;
  button {
    margin-right: 10px;
  }
}

.editor-wrapper {
  min-width: 570px;
  max-width: 570px;
  padding-bottom: 40px;
}

.edit-image-container {
  position: relative;

  .clear-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}
