@import 'variables';

.draggable-list {
  width: fit-content;
  margin: 0 auto;
}

.draggable-item {
  padding: 10px;
  cursor: pointer;

  &.with-border {
    border: 1px dotted $color-main-grey;
  }
}

.drop-custom-placeholder {
  background: #ccc;
  border: dotted 3px #999;
  min-height: 70px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
