<div class="page p-25">
  <h2 class="page-title mt-25">{{'MENU.GALLERY' | translate}}</h2>

  <div class="buttons-wrapper"
       *userPermission="['ADMIN']">
    <button
      class="green-button"
      *ngIf="isParentRoute"
      (click)="openAddChapterDialog()"
      mat-button>
      <mat-icon>add</mat-icon>
      <span>
        {{'ACTIONS.ADD' | translate}}
        {{'GALLERY.CHAPTER' | translate}}
      </span>
    </button>
  </div>

  <div fxLayout="row" fxLayoutAlign="center center" *ngIf="isParentRoute">
    <div fxLayout="row" fxLayoutAlign="center center" class="gallery__chapters-list">
      <ng-container *ngFor="let chapter of galleryChapters">
        <app-card-item
          (clicked)="onChapterClicked(chapter._id)"
          [item]="chapter"
          [deleteButtonText]="'Delete chapter'"
          [type]="isAdmin ? 'chapter' : null"
          (onDeleteClicked)="checkChapterDeletion(chapter._id)"
        ></app-card-item>
      </ng-container>
      <div class="will-be-soon-message" *ngIf="galleryChapters.length === 0">
        {{'COMMON.WILL_BE_AVAILABLE_SOON' | translate}}
      </div>
    </div>

    <ngx-image-gallery
      [images]="images"
      [conf]="galleryConfig">
    </ngx-image-gallery>
  </div>

  <router-outlet></router-outlet>
</div>
