<div class="page">
  <h2 class="page-title mt-25">{{'MENU.GALLERY' | translate}}</h2>

  <ng-container *ngIf="routeChildren.length === 0">
    <div fxLayout="row" fxLayoutAlign="center center" class="pv-25">
      <div *ngFor="let chapter of galleryChapters"
            (click)="openGalleryChapter(chapter)"
            class="gallery-chapter" fxLayout="row" fxLayoutAlign="center center">
        <div class="gallery-chapter__title"
             [class.active]="chapter.isActive">
          {{chapter.title[lang] | translate}}
        </div>
      </div>
    </div>
  </ng-container>

  <router-outlet></router-outlet>
</div>
