<div class="news-container">
  <div>
    <h2 class="page-title">{{'HOME.LATEST_NEWS' | translate}}</h2>
    <div class="buttons-wrapper"
         *userPermission="['ADMIN']">
      <button
        routerLink="news/create"
        class="green-button"
        mat-button>
        <mat-icon>add</mat-icon>
        <span>
        {{'ACTIONS.ADD' | translate}}
      </span>
      </button>
    </div>
    <div class="news-list" fxLayout="row wrap" fxLayoutAlign="center center">
      <ng-container *ngFor="let newsItem of news">
        <app-home-item
          [item]="newsItem"
          [type]="'news'"
        ></app-home-item>
      </ng-container>
    </div>

    <div *ngIf="news.length === 0"
         class="will-be-soon-message">
      {{'COMMON.WILL_BE_AVAILABLE_SOON' | translate}}
    </div>
  </div>

  <h2 class="page-title mt-15">{{'MENU.PROJECTS' | translate}}</h2>
  <div class="buttons-wrapper"
       *userPermission="['ADMIN']">
    <button
      routerLink="project/create"
      class="green-button"
      mat-button>
      <mat-icon>add</mat-icon>
      <span>
        {{'ACTIONS.ADD' | translate}}
      </span>
    </button>
  </div>
  <div class="page">
    <div class="news-list" fxLayout="row wrap" fxLayoutAlign="center center">
      <ng-container *ngFor="let project of projects">
        <app-home-item
          [item]="project"
          [type]="'project'"
        ></app-home-item>
      </ng-container>
    </div>
  </div>
</div>
