@import "variables";

.item-details-container {
  width: 100%;
  margin: auto;

  .item-details-title {
    margin-bottom: 5px;
    padding: 5px 10px;
    width: fit-content;
    text-align: center;
    color: $color-white;
    background: $color-black;
  }

  .item-details-date {
    border-top: 1px solid $color-medium-grey;
    color: $color-main-grey;
    padding: 2px;
  }

  .item-details-image {
    margin-top: 15px;
    width: 68vw;
  }

  .item-details-description {
    width: 66vw;
    margin-top: 15px;
    padding: 15px;
    text-align: justify;
    border-top: 1px solid $color-main-grey;
  }
}

@media (max-width: 500px) {
  .item-details-container {

    .item-details-image {
      width: 80vw;
    }

    .item-details-description {
      width: 77vw;
    }
  }
}
