<h2 mat-dialog-title class="border-bottom-grey">{{data.title[lang]}}</h2>
<div mat-dialog-content>
  <form
    class="p-25 page"
    #form="ngForm"
    id="chapter-form"
    [formGroup]="galleryChapterForm"
    (ngSubmit)="saveChapter()">

    <div class="mt-25">
      <div class="editor-label m-0">Назва (UA):</div>
      <mat-form-field floatLabel="never">
        <input matInput
               formControlName="title_UA"
               autocomplete="chrome-off"
               placeholder="Напишіть назву">
        <mat-error *ngIf="galleryChapterForm.controls['title_UA'].hasError('required') &&
                  galleryChapterForm.controls['title_UA'].touched || form.submitted">
          Це поле обов'язкове
        </mat-error>
      </mat-form-field>
      <div class="editor-label m-0">Chapter's title (EN):</div>
      <mat-form-field floatLabel="never">
        <input matInput
               formControlName="title_EN"
               autocomplete="chrome-off"
               placeholder="Type a name">
        <mat-error *ngIf="galleryChapterForm.controls['title_EN'].hasError('required') &&
                  galleryChapterForm.controls['title_EN'].touched || form.submitted">
          This field is required
        </mat-error>
      </mat-form-field>

      <ng-container *ngIf="imageUrl; else uploadField">
        <div class="editor-label">Image:</div>
        <div class="edit-image-container">
          <button
            class="clear-button"
            mat-mini-fab
            type="button"
            color="warn"
            matTooltip="Clear image"
            (click)="openClearImageDialog()"
            *ngIf="imageUrl">
            <mat-icon>clear</mat-icon>
          </button>
          <img [src]="imageUrl" alt="No image" *ngIf="imageUrl" width="500">
        </div>
      </ng-container>
      <ng-template #uploadField>
        <div class="editor-label">Upload image (landscape format will be better): </div>
        <app-drag-n-drop-upload
          [acceptMimetype]="'image/*'"
          [multiple]="false"
          (fileUploaded)="changeImage($event)"
        ></app-drag-n-drop-upload>
      </ng-template>
    </div>
  </form>
</div>
<div mat-dialog-actions class="border-top-grey">
  <div class="actions-row"
       fxLayout="row" fxLayoutAlign="flex-end center">
    <button
      class="red-button"
      type="button"
      mat-button
      mat-dialog-close>
      <mat-icon>close</mat-icon>
      <span>
          {{'ACTIONS.CANCEL' | translate}}
        </span>
    </button>

    <button
      class="green-button"
      type="submit"
      form="chapter-form"
      mat-button>
      <mat-icon>done</mat-icon>
      <span>
          {{'ACTIONS.SAVE' | translate}}
        </span>
    </button>
  </div>
</div>
