<div class="auth-container">
  <h4 class="form-title">{{'FORM_TITLES.CREATE_PASSWORD' | translate}}</h4>
  <form
    (ngSubmit)="savePassword()"
    [formGroup]="createPasswordForm"
    #form="ngForm">
    <div class="editor-label m-0">{{'FORM_INPUTS.PASSWORD' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="password"
             autocomplete="chrome-off"
             placeholder="{{'FORM_INPUTS.PASSWORD' | translate}}">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="createPasswordForm.controls['password'].hasError('required') &&
                  createPasswordForm.controls['password'].touched || form.submitted">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
    </mat-form-field>
    <div class="editor-label m-0">{{'FORM_INPUTS.CONFIRM_PASSWORD' | translate}}</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="confirmPassword"
             autocomplete="chrome-off"
             placeholder="{{'FORM_INPUTS.CONFIRM_PASSWORD' | translate}}">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="createPasswordForm.controls['confirmPassword'].hasError('required') &&
                  createPasswordForm.controls['confirmPassword'].touched || form.submitted">
        {{'FORM_ERRORS.FIELD_REQUIRED' | translate}}
      </mat-error>
      <mat-error *ngIf="createPasswordForm.controls['confirmPassword'].hasError('confirmPasswordValidator') &&
                  createPasswordForm.controls['confirmPassword'].touched || form.submitted">
        {{'FORM_ERRORS.PASSWORD_NOT_SAME' | translate}}
      </mat-error>
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="center center" class="mt-15">
      <button
        class="green-button"
        type="submit"
        mat-button>
        <mat-icon>done</mat-icon>
        <span>
          {{'ACTIONS.SAVE' | translate}}
      </span>
      </button>
    </div>
  </form>
</div>
