<div style="padding:50px;">
    <div style="box-sizing:border-box;width: 500px;
        padding:25px;margin:auto;
        border-radius:40px;
        background: white">
        <h2>Change password</h2>
    </div>
</div>
