@import 'variables';

.home-container {
  position: relative;
}

.home-poster {
  width: 100vw;
  height: calc(100vh - #{$header-height});
  background-image: url('../../../assets/images/fon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.supported-by {
  width: 100vw;
  padding: 20px 0 10px;
  margin: auto;
  background: transparent;
  position: absolute;
  bottom: 0;
  text-align: center;

  .supported-by-text {
    display: inline-block;
    color: white;
    height: 25px;
    line-height: 25px;
  }

  .ucf-logo {
    display: inline-block;
    width: 40px;
    height: 20px;
    margin-left: 5px;
    background-image: url('../../../assets/images/ucf_logo-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
  }
}

::ng-deep {
  .logo-letter {
    //&:hover {
    //  .st0 {
    //    opacity: .8;
    //  }
    //}
  }

  .st0 {
    &:hover {
      fill: white;
      animation: 3s linear 0s bubble_animation;
    }
  }
}
@keyframes bubble_animation {
  0% {
    fill: red;
  }
  20% {
    fill: green;
  }
  40% {
    fill: white;
  }
  60% {
    fill: grey;
  }
  80% {
    fill: black;
  }
  100% {
    fill: #2C9B75;
  }
}

