@import 'variables';

.home-container {
  height: calc(100vh - #{$header-height});
  background-image: url('../../../assets/images/fon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.home-poster {
  width: 100vw;
  padding-top: 25px;
}

.supported-by {
  width: 100vw;
  padding: 20px 0 50px;
  margin: auto;
  text-align: center;

  .supported-by-text {
    display: inline-block;
    color: white;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
  }

  .ucf-logo {
    display: inline-block;
    width: 60px;
    height: 30px;
    margin-left: 5px;
    background-image: url('../../../assets/images/ucf_logo-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(1);
  }
}

@media (max-width: 1023px) {
  .supported-by {
    .supported-by-text {
      font-size: 16px;
    }

    .ucf-logo {
      width: 40px;
      height: 20px;
    }
  }
}

::ng-deep {
  .st0 {
    fill: #2C9B75;
    transition: transform 2s;

    &.animated {
      animation: 2s linear 0s bubble_animation;
      transition: all 2s;
    }
  }
}

@keyframes bubble_animation {
  0% {
    fill: white;
    transition: all 2s;
  }
}

