<div class="home-container"
     [style.filter]="'brightness(' + posterOpacity + ')'"
     (window:scroll)="onScrollChange()">
  <div
    class="home-poster"
    fxLayout="column"
    fxLayoutAlign="center center"
    #logoContainer
    [innerHTML]="bigLogo">
  </div>
  <div
    class="home-poster-mobile"
    fxLayout="column"
    fxLayoutAlign="center center"
    #mobileLogoContainer
    [innerHTML]="verticalLogo">
  </div>
  <div class="supported-by">
    <p class="supported-by-text">{{'COMMON.SUPPORTED_BY' | translate}}</p>
    <span class="ucf-logo"></span>
  </div>
</div>
<mat-card class="news-and-projects">
  <app-news></app-news>
</mat-card>
