<h2 mat-dialog-title>{{data.title}}</h2>
<div mat-dialog-content>
  <form
    id="change-password-form"
    #form="ngForm"
    (ngSubmit)="submitChangePassword()"
    [formGroup]="changePasswordForm">
    <div class="editor-label m-0">Old Password:</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="oldPassword"
             autocomplete="chrome-off"
             placeholder="Old password">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="changePasswordForm.controls['oldPassword'].hasError('required') &&
                  changePasswordForm.controls['oldPassword'].touched || form.submitted">
        This field is required
      </mat-error>
    </mat-form-field>
    <div class="editor-label m-0">New Password:</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="newPassword"
             autocomplete="chrome-off"
             placeholder="New password">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="changePasswordForm.controls['newPassword'].hasError('required') &&
                  changePasswordForm.controls['newPassword'].touched || form.submitted">
        This field is required
      </mat-error>
    </mat-form-field>
    <div class="editor-label m-0">Confirm Password:</div>
    <mat-form-field floatLabel="never">
      <input matInput
             type="{{showPassword ? 'text' : 'password'}}"
             formControlName="confirmPassword"
             autocomplete="chrome-off"
             placeholder="password">
      <mat-icon matSuffix (click)="toggleShowPassword()" class="input-icon">
        {{showPassword ? 'visibility' : 'visibility_off'}}
      </mat-icon>
      <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].hasError('required') &&
                  changePasswordForm.controls['confirmPassword'].touched || form.submitted">
        This field is required
      </mat-error>
      <mat-error *ngIf="changePasswordForm.controls['confirmPassword'].hasError('confirmPasswordValidator') &&
                  changePasswordForm.controls['confirmPassword'].touched || form.submitted">
        Password is not the same
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <div class="actions-row"
       fxLayout="row" fxLayoutAlign="flex-end center">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button mat-button type="submit" form="change-password-form">Change</button>
  </div>
</div>
