
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat-palette($mat-indigo);
$frontend-accent: mat-palette($mat-orange, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-theme: mat-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($frontend-theme);

@import "variables";
@import "material-custom";
@import "utils";

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;

  &:visited {
    color: black;
  }
}

.page {
  width: 100vw;
}

.page-title-wrapper {
  width: 100%;
  padding-bottom: 10px;
  background: white;
  position: sticky;
  top: $header-height;
  z-index: 999;
}

.page-title {
  width: fit-content;
  padding: 10px 15px;
  margin: 0 auto 10px;
  background-color: black;
  color: white;
}

.buttons-wrapper {
  margin: 25px;
  button {
    margin-right: 10px;
  }
}

.quill-editor-wrapper {
  min-width: 570px;
  max-width: 570px;
  padding-bottom: 40px;

  .mat-error {
    font-size: 75%;
    margin-top: 5px;
  }
}

.editor-label {
  font-weight: 500;
  margin-bottom: 10px;
}

.edit-image-container {
  max-width: 600px;
  position: relative;

  .clear-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.will-be-soon-message {
  width: fit-content;
  padding: 2px 7px;
  color: white;
  background-color: black;
  margin: auto;
}

.grey-text {
  color: $color-main-grey;
}

// title item (projects, participants)
.title-items-list {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;

  .title-item {
    margin: 10px;
    padding: 5px 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    text-align: center;
  }
}
