@import 'variables';

.contact-item {
  margin: auto;
  position: relative;

  p {
    margin: 5px 0;
  }

  .contact-title {
    font-weight: 500;
  }

  .contact-email {
    display: block;
    color: $color-main-grey;
    text-decoration: underline;
  }

  .action-buttons {
    width: 100%;
    position: absolute;
    top: -5px;
    right: 0;
  }
}
