@import 'variables';

.news-item {
  width: 300px;
  padding: 10px;
  margin: 10px;
  background: $color-white;

  .item-image {
    width: 280px;
    margin: 10px 0 15px;
  }
  .item-title {
    text-align: center;
  }
}
