@import 'variables';

.titled-items-list-wrapper {
  width: calc(100vw - 50px);
  height: 100%;
}

.titled-items-list {
  max-width: 1000px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  .titled-item-wrapper {
    width: 230px;
    padding: 30px 10px;

    &.empty {
      width: 100px;
    }
  }

  .titled-item {
    width: 100%;
    padding: 5px;
    background-color: black;
    border: 1px solid $color-white;
    color: $color-white;
    cursor: pointer;
    text-align: center;
    transition: filter .5s, transform 2s;

    &:hover {
      filter: invert(1);
      transition: filter .5s;
    }

    &.trembling {
      animation: .1s linear 0s trembling;
      animation-iteration-count: 3;
    }
  }
}

@keyframes trembling {
  0% {
    color: $color-black;
    padding: 5px 1px;
    background-color: $color-main-grey;
  }
  50% {
    color: $color-white;
    padding: 5px;
    background-color: $color-black;
  }
}

@media (max-width: 600px) {
  .titled-items-list {
    justify-content: center;

    .titled-item-wrapper {
      width: 200px;
      padding: 5px;

      .titled-item {
        font-size: 12px;
      }
    }
  }
}
