<div class="titled-items-list-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <div class="titled-items-list" (window:resize)="onResize()">
    <div class="titled-item-wrapper"
         [class.empty]="!item"
         *ngFor="let item of transformedItems">
      <ng-container *ngIf="item">
        <div [routerLink]="item._id"
             [style.transform]="item.transform"
             [class.trembling]="item.trembling"
             class="titled-item">
          {{item[titleProp][lang]}}
        </div>
      </ng-container>
    </div>
  </div>
</div>
