<div class="p-25">
  <button
    class="back-button"
    type="button"
    mat-button
    (click)="goToGallery()">
    <mat-icon>arrow_back</mat-icon>
    <span>
      {{'ACTIONS.BACK' | translate}}
    </span>
  </button>

  <div class="mv-10"
       fxLayout="row"
       fxLayoutAlign="start center"
       *userPermission="['ADMIN']">
    <button
      class="orange-button"
      type="button"
      mat-button
      (click)="openAddGalleryImageDialog()">
      <mat-icon>add</mat-icon>
      <span>
        {{'ACTIONS.ADD' | translate}}
      </span>
    </button>
    <mat-slide-toggle [(ngModel)]="isDeleteConfirm" class="ml-10">
      {{'COMMON.CONFIRM_DELETING' | translate}}
    </mat-slide-toggle>
  </div>

  <div>

  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center center">
    <div *ngFor="let image of images; let i = index"
         class="gallery-image-wrapper">
      <div class="gallery-image-preview"
           [style.transform]="image.transform"
           [style.background-image]="image.displayPreview ? image.backgroundUrl : imagePlaceholder"
           (click)="openGallery(i)"
           alt="gallery image">
        <button
          class="preview-button"
          mat-mini-fab
          type="button"
          color="accent"
          matTooltip="{{image.displayPreview ? 'Hide preview' : 'Show preview'}}"
          *userPermission="['ADMIN']"
          (click)="onChangePreview(image, $event)">
          <mat-icon>{{image.displayPreview ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <button
          class="clear-button"
          mat-mini-fab
          type="button"
          color="warn"
          matTooltip="Remove image"
          *userPermission="['ADMIN']"
          (click)="onRemoveImage(image, $event)">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <p class="gallery-image-title">{{image.title}}</p>
    </div>
    <ng-container *ngIf="images.length === 0">
      <div class="will-be-soon-message">
        There are no items here.
      </div>
    </ng-container>
  </div>
</div>

<ngx-image-gallery
  [images]="images"
  [conf]="galleryConfig">
</ngx-image-gallery>
