@import 'variables';

.gallery-image-wrapper {
  margin: 10px;
}

.gallery-image-preview {
  width: 180px;
  height: 140px;
  margin: 10px 0;
  cursor: pointer;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .clear-button {
    position: absolute;
    top: 5px;
    right: 2px;
  }

  .preview-button {
    position: absolute;
    top: 5px;
    right: 45px;
  }
}

.gallery-image-title {
  width: 180px;
  margin: 10px 0;
  font-size: 12px;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
}
