<div class="page">
  <button
    class="back-button"
    type="button"
    mat-button
    (click)="goToParticipantsList()">
    <mat-icon>arrow_back</mat-icon>
    <span>
      {{'ACTIONS.BACK' | translate}}
    </span>
  </button>
  <ng-container *ngIf="participant">
    <app-item-details-primary [item]="participant"
                              [titleProp]="'fullName'"
                              [descriptionProp]="'bio'">
    </app-item-details-primary>

    <ng-container *ngFor="let worksItem of works">
      <app-item-details-secondary
        [item]="worksItem"
        [titleProp]="'title'"
        [descriptionProp]="'description'">
      </app-item-details-secondary>
    </ng-container>
  </ng-container>
</div>
