<ng-container *ngIf="editMode; else viewMode"></ng-container>

<ng-template #viewMode>
  <ng-container *ngIf="worksItem">
    <app-item-details-primary [item]="worksItem"
                              [titleProp]="'fullName'"
                              [descriptionProp]="'bio'">
    </app-item-details-primary>
  </ng-container>
  <ng-container *ngFor="let participant of participants">
    <app-item-details-secondary
      [item]="participant"
      [titleProp]="'title'"
      [descriptionProp]="'description'">
    </app-item-details-secondary>
  </ng-container>
</ng-template>
