<div class="page p-25" *ngIf="worksItem">
  <div fxLayout="row" fxLayoutGap="10px">
    <button
      class="back-button"
      type="button"
      mat-button
      (click)="goToWorksList()">
      <mat-icon>arrow_back</mat-icon>
      <span>
      {{'ACTIONS.BACK' | translate}}
    </span>
    </button>
    <div fxLayout="row" class="buttons-wrapper"
         *userPermission="['ADMIN']">
      <button
        class="orange-button"
        type="button"
        mat-button
        (click)="editWorksItem()">
        <mat-icon>edit</mat-icon>
        <span>
          {{'ACTIONS.EDIT' | translate}}
        </span>
      </button>

      <button
        class="red-button"
        type="button"
        mat-button
        (click)="openDeleteWorksItemDialog()">
        <mat-icon>delete</mat-icon>
        <span>
          {{'ACTIONS.DELETE' | translate}}
        </span>
      </button>
    </div>
  </div>
  <app-item-details-primary [item]="worksItem"
                            [titleProp]="'title'"
                            [descriptionProp]="'description'">
  </app-item-details-primary>
  <h4>{{'MENU.PARTICIPANTS' | translate}}</h4>
  <div class="buttons-wrapper"
       *userPermission="['ADMIN']">
    <button
      [matMenuTriggerFor]="menu"
      class="green-button"
      mat-button>
      <mat-icon>add</mat-icon>
      <span>
        {{'ACTIONS.ADD' | translate}}
      </span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="addParticipant()">
        {{'COMMON.ADD_NEW' | translate}}
      </button>
      <button mat-menu-item (click)="openSelectParticipantDialog()">
        {{'COMMON.SELECT_EXISTING' | translate}}
      </button>
    </mat-menu>
  </div>

  <ng-container *ngIf="participants.length">
    <ng-container *ngFor="let participant of participants">
      <div fxLayout="row" class="buttons-wrapper"
           *userPermission="['ADMIN']">
        <button
          class="orange-button"
          type="button"
          mat-button
          (click)="editParticipant(participant)">
          <mat-icon>edit</mat-icon>
          <span>
          {{'ACTIONS.EDIT' | translate}}
        </span>
        </button>

        <button
          class="red-button"
          type="button"
          mat-button
          (click)="openDeleteParticipantDialog()">
          <mat-icon>delete</mat-icon>
          <span>
          {{'ACTIONS.DELETE' | translate}}
        </span>
        </button>
      </div>
      <app-item-details-secondary
        [item]="participant"
        [titleProp]="'fullName'"
        [descriptionProp]="'bio'">
      </app-item-details-secondary>
    </ng-container>
  </ng-container>
</div>
